/* Lavender */
/* Carnation */
/* Minion */
/* Smith Apple */
/* Secondary / Dark */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif;
  background-color: rgba(247, 242, 255, 0.4);
}

body {
  box-sizing: border-box;
}

.heading-1 {
  font-size: 7.2rem;
  line-height: 8.8rem;
  font-weight: 600;
}

.heading-2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 600;
}

.heading-3 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 600;
}

.heading-4 {
  font-size: 3.8rem;
  line-height: 4.6rem;
  font-weight: 600;
}

.heading-5 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
}

.heading-6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

.font-xl {
  font-size: 2rem;
  line-height: 2.8rem;
}

.font-l {
  font-size: 1.8rem;
  line-height: 2.6rem;
}

.font-s {
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.font-xs {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.paragraph-md {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  color: #686A79;
}

.paragraph-md--bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: #686A79;
}

.paragraph-small {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: #686A79;
}

.paragraph-small--bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: #686A79;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 20rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 50;
  background-color: #FBFAFF;
}
.navigation__icon {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  text-decoration: none;
  color: #191A23;
  font-family: "Syne", sans-serif;
}
.navigation__icon .text {
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.navigation__list {
  list-style: none;
  display: flex;
  gap: 6.4rem;
}
.navigation__list-item {
  justify-content: center;
}
.navigation__list-item a,
.navigation__list-item a:link,
.navigation__list-item a:visited {
  text-decoration: none;
  color: #191A23;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 100%;
  transition: all 0.3s;
}
.navigation__list-item a:hover,
.navigation__list-item a:link:hover,
.navigation__list-item a:visited:hover {
  color: #C1A5FF;
}
.navigation__list-item a:active, .navigation__list-item a:focus,
.navigation__list-item a:link:active,
.navigation__list-item a:link:focus,
.navigation__list-item a:visited:active,
.navigation__list-item a:visited:focus {
  color: #C1A5FF;
}

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17rem 8% 16rem 13%;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../../img/Pattern.svg);
  background-position: right center;
  background-size: 55%;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: -1;
}
.hero__left {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  z-index: 2;
}
.hero__left-text {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.hero__left-text .heading {
  max-width: 65rem;
  font-family: "Syne", sans-serif;
  line-height: 1.2;
}
.hero__left-text .sub-heading {
  max-width: 50rem;
}
.hero__left-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.2rem;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: #fff;
  border: 0.1rem solid #191A23;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.hero__left-cta .icon-wrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E2D4FF;
}
.hero__left-cta__location, .hero__left-cta__price, .hero__left-cta__property {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.hero__left-cta__location .icon, .hero__left-cta__price .icon, .hero__left-cta__property .icon {
  width: 2rem;
  display: flex;
  align-items: center;
}
.hero__left-cta .text-cta {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2rem;
}
.hero__right {
  position: relative;
  flex-basis: 40%;
  padding-left: 1rem;
  z-index: 1;
}
.hero__right-ilustration-1 {
  position: absolute;
  top: -25rem;
  max-width: 48%;
  display: flex;
  flex-direction: column;
  z-index: 2;
  gap: 2.3rem;
}
.hero__right-ilustration-1 .house-wrapper {
  height: 25.6rem;
  border: 0.3rem solid #191A23;
  border-radius: 4rem 4rem 3.2rem 0;
  overflow: hidden;
}
.hero__right-ilustration-1 .house-wrapper .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  inset: 20%;
}
.hero__right-ilustration-1 .caption {
  margin-top: -2.5rem;
  padding: 2rem;
  height: 10.54rem;
  background-color: #191A23;
  color: #fff;
  clip-path: polygon(0 12%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 48% 100%, 0 100%);
  border-radius: 0 0 4rem 4rem;
  border: 0.3rem solid #CFB9FD;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
}
.hero__right-ilustration-1 .caption .text-caption {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
  text-align: center;
  margin: 0;
}
.hero__right-ilustration-2 {
  position: absolute;
  top: -21rem;
  right: 8%;
  width: 25.3rem;
  padding: 1.65rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.4rem;
  background-color: #fff;
  border: 0.3rem solid #191A23;
  border-radius: 3.6rem;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
  z-index: 10;
}
.hero__right-ilustration-2 .element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
  gap: 0.8rem;
}
.hero__right-ilustration-2 .element__text {
  display: flex;
  flex-direction: column;
}
.hero__right-ilustration-2 .element__text .heading {
  font-size: 1.65rem;
}
.hero__right-ilustration-2 .element__icon {
  display: flex;
  gap: 0.8rem;
}
.hero__right-ilustration-2 .element__icon .icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #686A79;
  border-radius: 50%;
  padding: 0.5rem;
}
.hero__right-ilustration-2 .element__icon .icon-social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
}
.hero__right-ilustration-2 .avatar-wrapper .picture {
  width: 7.4rem;
  height: 7.4rem;
  border-radius: 1rem;
  background-color: #E2D4FF;
  object-fit: cover;
}
.hero__right-ilustration-3 {
  position: absolute;
  top: -6rem;
  right: -1rem;
  max-width: 48%;
  height: 34rem;
  overflow: hidden;
  border-radius: 4rem;
  border: 0.3rem solid #191A23;
  z-index: 1;
}
.hero__right-ilustration-3 .picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.featured__heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 17rem 13% 5rem 13%;
}
.featured__heading .heading {
  font-family: "Syne", sans-serif;
  line-height: 1.1;
}
.featured__heading .paragraph {
  color: #191A23;
  text-decoration: none;
  line-height: 1.1;
}
.featured__card {
  max-width: 100%;
  width: 100%;
  padding: 0 13% 0 13%;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr 1fr;
  gap: 4rem;
}
.featured__card-top, .featured__card-top-image, .featured__card-top-content {
  min-width: 0;
}
.featured__card-top {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  grid-column: 1/-1;
  background-color: #fff;
  border: 0.2rem solid #E2D4FF;
  border-radius: 1.5rem;
  display: flex;
  position: relative;
}
.featured__card-top-image {
  width: 80%;
  height: auto;
  box-sizing: border-box;
  position: relative;
}
.featured__card-top-image .picture {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/3;
  box-sizing: border-box;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  position: relative;
  display: block;
  object-fit: cover;
}
.featured__card-top-badge {
  position: absolute;
  top: 8%;
  left: -0.8rem;
  z-index: 100;
}
.featured__card-top-content {
  width: 100%;
  box-sizing: border-box;
  margin: 3.2rem 2.4rem;
}
.featured__card-top-content .heading {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
}
.featured__card-top-content .heading .price {
  font-family: "Syne", sans-serif;
  display: flex;
  align-items: flex-end;
}
.featured__card-top-content .heading .agent__info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.featured__card-top-content .heading .agent__info-picture {
  width: 100%;
  box-sizing: border-box;
  background-color: #CFB9FD;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
.featured__card-top-content .heading .agent__info-picture .picture {
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  object-fit: cover;
  align-items: flex-end;
}
.featured__card-top-content .heading .agent__info-text {
  padding-right: 2rem;
}
.featured__card-top-content .heading .agent__info-text .heading {
  font-size: 1.6rem;
}
.featured__card-top-content .main-text {
  margin-top: 3rem;
}
.featured__card-top-content .main-text__heading {
  margin-bottom: 3rem;
}
.featured__card-top-content .main-text__heading .heading {
  font-family: "Syne", sans-serif;
  margin-bottom: 0.5rem;
}
.featured__card-top-content .main-text__heading .location {
  display: flex;
  gap: 1.5rem;
}
.featured__card-top-content .main-text__paragraph a {
  text-decoration: none;
  color: #191A23;
  font-weight: 700;
}
.featured__card-top-content .features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding: 2rem;
  background-color: #F7F2FF;
  border-radius: 1.5rem;
}
.featured__card-top-content .features__item {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.featured__card-top-content .features__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.featured__card-top-content .features__item-icon .icon {
  width: 2.8rem;
  height: 2.8rem;
}
.featured__card-top-content .features__item .amount {
  font-size: 1.6rem;
  font-weight: 700;
}
.featured__card-bottom {
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.2rem solid #E2D4FF;
  grid-column: 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.featured__card-bottom-image {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  object-fit: cover;
  overflow: hidden;
}
.featured__card-bottom-image .picture {
  height: auto;
  width: 100%;
  aspect-ratio: 16/9;
  box-sizing: border-box;
  object-fit: cover;
  display: block;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
.featured__card-bottom-badge {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 42.5%;
  left: -0.9rem;
}
.featured__card-bottom-content {
  margin-top: 4rem;
  margin-left: 2rem;
}
.featured__card-bottom-content .price {
  display: flex;
  align-items: flex-end;
  margin-bottom: 1rem;
}
.featured__card-bottom-content .price__heading {
  font-family: "Syne", sans-serif;
}
.featured__card-bottom-content .main-text__heading {
  display: flex;
  flex-direction: column;
}
.featured__card-bottom-content .main-text__heading .location {
  margin-top: 2rem;
}
.featured__card-bottom-content .main-text__heading .location-paragraph {
  color: #868893;
  margin-bottom: 2rem;
}
.featured__card-bottom-content .features {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  border-top: 1px solid #D6D7E0;
  margin-right: 2rem;
  padding-bottom: 2rem;
}
.featured__card-bottom-content .features__item-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.3rem;
  gap: 0.5rem;
}
.featured__card-bottom-content .features__item-icon .icon {
  width: 2.5rem;
  height: 2.5rem;
}
.featured__card-bottom-content .features__item-icon .amount {
  font-size: 1.3rem;
  color: #868893;
}

.benefits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16rem 13% 5rem 13%;
}
.benefits__heading {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 0 auto;
  gap: 20rem;
}
.benefits__heading .heading {
  font-family: "Syne", sans-serif;
}
.benefits__heading .sub-heading {
  max-width: 45rem;
  width: 100%;
  display: block;
}
.benefits__content {
  max-width: 100%;
  width: 100%;
  padding: 7rem 0 10rem 0;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr;
  gap: 4rem;
}
.benefits__content-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 4rem;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.1rem solid #191A23;
  grid-column: 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 3.5rem;
  aspect-ratio: 86/88;
}
.benefits__content-item .icon {
  background: #E2D4FF;
  padding: 2rem;
  border-radius: 1.5rem;
}
.benefits__content-item .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 45ch;
  line-height: 1.6;
  gap: 1rem;
}
.benefits__content-item .text .heading {
  font-family: "Syne", sans-serif;
}
.benefits__content-item .text .paragraph {
  color: #868893;
  font-weight: 300;
}

.categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 13% 8rem 13%;
}
.categories__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categories__heading .heading {
  font-family: "Syne", sans-serif;
}
.categories__heading .paragraph {
  text-decoration: none;
  color: #191A23;
}
.categories__content {
  max-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 5rem 0 10rem 0;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr;
  gap: 4rem;
}
.categories__content-item {
  gap: 4rem;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.2rem solid #F7F2FF;
  grid-column: 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.categories__content-item .content {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.categories__content-item .content__text {
  display: flex;
  gap: 2rem;
}
.categories__content-item .content__text .icon {
  background-color: #E2D4FF;
  padding: 1.5rem;
  border-radius: 1.5rem;
}
.categories__content-item .content__text .text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 0.2rem;
}
.categories__content-item .content__text .heading {
  font-family: "Syne", sans-serif;
}
.categories__content-item .content__button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  gap: 0.5rem;
  color: #191A23;
}
.categories__content-item .content__button .send {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 13% 5rem 13%;
}
.cities__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cities__heading .heading {
  font-family: "Syne", sans-serif;
}
.cities__heading .paragraph {
  text-decoration: none;
  color: #191A23;
}
.cities__content {
  max-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 5rem 0 10rem 0;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-template-rows: 1fr;
  gap: 4rem;
}
.cities__content-item {
  gap: 4rem;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.2rem solid #F7F2FF;
  grid-column: 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.cities__content-item .cities-img {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  object-fit: cover;
  aspect-ratio: 1/1;
  overflow: hidden;
}
.cities__content-item .text-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.cities__content-item .text-wrapper .listings {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #868893;
}

.agents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 0 13% 5rem 13%;
}
.agents__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.agents__heading .heading {
  font-family: "Syne", sans-serif;
}
.agents__heading .paragraph {
  text-decoration: none;
  color: #191A23;
}
.agents__content {
  max-width: 100%;
  max-width: 100%;
  width: 100%;
  padding: 5rem 0 10rem 0;
  height: auto;
  box-sizing: border-box;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
  grid-template-rows: 1fr;
  gap: 4rem;
}
.agents__content-item {
  gap: 4rem;
  position: relative;
  background-color: #fff;
  border-radius: 1.5rem;
  border: 0.2rem solid #F7F2FF;
  grid-column: 1fr;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 2rem;
}
.agents__content-item .content-left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.agents__content-item .content-left .heading {
  font-family: "Syne", sans-serif;
}
.agents__content-item .content-left .icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.agents__content-item .content-left .icon-wrapper {
  padding: 0.5rem;
  display: flex;
  background: #191A23;
  border-radius: 50%;
}
.agents__content-item .content-left .icon-wrapper .icon-social {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
}
.agents__content-item .content-right {
  background: #FFE1F2;
  border-radius: 1.5rem;
}
.agents__content-item .content-right .picture {
  max-width: 10rem;
  object-fit: cover;
  min-width: 0;
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  width: 100%;
  height: auto;
  object-position: top;
  aspect-ratio: 1/1;
  display: block;
}

.testimonials {
  position: relative;
  padding: 0 0 5rem 13%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.testimonials__heading {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.testimonials__content {
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 100%;
}
.testimonials__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  background-color: #fff;
  padding: 5rem;
}
.testimonials__content-wrapper-stars {
  display: flex;
  gap: 1rem;
}
.testimonials__content-wrapper-stars .star {
  width: 1.7rem;
  height: 1.7rem;
}
.testimonials__content-wrapper-paragraph .paragraph {
  color: #868893;
  width: 38rem;
  display: block;
}
.testimonials__content-wrapper-profile {
  display: flex;
  justify-content: space-between;
}

.btn {
  text-decoration: none;
  border-radius: 1.5rem;
  padding: 1.6rem 3.2rem;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
  color: #191A23;
  border: 0.1rem solid #191A23;
  background-color: transparent;
  font-weight: bold;
  gap: 0.8rem;
  transition: all 0.3s;
}
.btn-primary:hover,
.btn-primary:link:hover,
.btn-primary:visited:hover {
  background-color: #F7F2FF;
  border: 0.1rem solid #B592FF;
}
.btn-primary:active, .btn-primary:focus,
.btn-primary:link:active,
.btn-primary:link:focus,
.btn-primary:visited:active,
.btn-primary:visited:focus {
  background-color: #F7F2FF;
  border: 0.1rem solid #B592FF;
}

.btn-secondary {
  text-decoration: none;
  color: #fff;
  border: 0.1rem solid #191A23;
  border-radius: 1.5rem;
  padding: 1.6rem 3.2rem;
  background-color: #191A23;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 2rem;
  gap: 0.8rem;
  transition: all 0.3s;
}
.btn-secondary:hover {
  background-color: transparent;
  border: 0.1rem solid #191A23;
  color: #191A23;
}
.btn-secondary:active, .btn-secondary:focus {
  background-color: transparent;
  border: 0.1rem solid #191A23;
  color: #191A23;
}

/*# sourceMappingURL=style.css.map */
