//////////////////////////////////
/// COLOR BRAND
  /* Lavender */
  $color-lavender-100: #B592FF;
  $color-lavender-80:  #C1A5FF;
  $color-lavender-60:  #CFB9FD;
  $color-lavender-40:  #E7DCFF;
  $color-lavender-20:  #F7F2FF;

  /* Carnation */
  $color-carnation-100: #FDA5D6;
  $color-carnation-80:  #FFB4DE;
  $color-carnation-60:  #FFD2EB;
  $color-carnation-40:  #FFE1F2;
  $color-carnation-20:  #FFF1F9;

  /* Minion */
  $color-minion-100: #FFE76C;
  $color-minion-80:  #FFEF9C;
  $color-minion-60:  #FFF6C5;
  $color-minion-40:  #FFF9DA;
  $color-minion-20:  #FFFCEF;

  /* Smith Apple */
  $color-smith-apple-100: #A8EB9E;
  $color-smith-apple-80:  #B7F7AE;
  $color-smith-apple-60:  #D3FACD;
  $color-smith-apple-40:  #E9FFEE;
  $color-smith-apple-20:  #F6FFF5;

  /* Secondary / Dark */
  $color-dark-100: #191A23;
  $color-dark-80:  #686A79;
  $color-dark-60:  #868893;
  $color-dark-40:  #B7B8C1;
  $color-dark-20:  #D6D7E0;

  $background-color: #FBFAFF;