@use "../abstracts/variables" as *;
@use "../base/base" as *;

.agents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 13% 5rem 13%;
    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
        padding: 17rem 5% 16rem 5%;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 2rem 5% 0 5%;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 0 2rem 5rem 2rem;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5rem;
        }

        .heading {
            font-family: "Syne", sans-serif;

            @media only screen and (max-width: $bp-large) {
                font-size: 4rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 3.2rem;
            }
        }

        .paragraph {
            text-decoration: none;
            color: $color-dark-100;

            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }
    }

    &__content {
        max-width: 100%;
        width: 100%;
        padding: 5rem 0 10rem 0;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34.5rem, 1fr));
        grid-template-rows: 1fr;
        gap: 4rem;

        &-item {
            gap: 4rem;
            position: relative;
            background-color: #fff;
            border-radius: 1.5rem;
            border: 0.2rem solid $color-lavender-20;
            grid-column: 1fr;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 2rem;

            .content-left {
                display: flex;
                flex-direction: column;
                gap: 2.5rem;

                @media only screen and (max-width: $bp-small) {
                    align-items: flex-start;
                    justify-content: center;
                    gap: 1.6rem;
                    max-width: 20rem;
                    width: 100%;
                }

                .text-wrapper {
                    display: flex;
                    flex-direction: column;
                    @media only screen and (max-width: $bp-small) {
                        gap: 1rem;
                    }
                    .heading {
                        font-family: "Syne", sans-serif;

                        @media only screen and (max-width: $bp-largest) {
                            font-size: 2.4rem;
                        }
                        @media only screen and (max-width: $bp-large) {
                            font-size: 2rem;
                        }
                        @media only screen and (max-width: $bp-small) {
                            font-size: 2.4rem;
                        }
                    }

                    .paragraph {
                        @media only screen and (max-width: $bp-largest) {
                            font-size: 2rem;
                        }
                        @media only screen and (max-width: $bp-large) {
                            font-size: 1.8rem;
                        }
                        @media only screen and (max-width: $bp-small) {
                            font-size: 1.8rem;
                        }
                    }
                }
                .icon {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 0.5rem;
                    width: 100%;

                    @media only screen and (max-width: $bp-small) {
                        gap: 1rem;
                    }

                    &-wrapper {
                        padding: 0.7rem;
                        display: flex;
                        background: $color-dark-100;
                        border-radius: 50%;

                        @media only screen and (max-width: $bp-small) {
                            padding: .5rem;
                        }

                        .icon-social {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            width: 1.5rem;
                            height: 1.5rem;

                            @media only screen and (max-width: $bp-largest) {
                                width: 2rem;
                                height: 2rem;
                            }

                            @media only screen and (max-width: $bp-large) {
                                width: 1.5rem;
                                height: 1.5rem;
                            }

                            @media only screen and (max-width: $bp-small) {
                                width: 1rem;
                                height: 1rem;
                            }
                        }
                    }
                }
            }

            .content-right {
                background: $color-carnation-40;
                border-radius: 1.5rem;
                @media only screen and (max-width: $bp-small) {
                    max-width: 10.8rem;
                    max-height: 10.8rem;
                }

                .picture {
                    max-width: 10rem;
                    object-fit: cover;
                    min-width: 0;
                    border-bottom-left-radius: 1.5rem;
                    border-bottom-right-radius: 1.5rem;
                    width: 100%;
                    height: 100%;
                    object-position: top;
                    aspect-ratio: 1/1;
                    display: block;
                    display: flex;
                    align-items: flex-end;

                    @media only screen and (max-width: $bp-largest) {
                        max-width: 13rem;
                    }

                    @media only screen and (max-width: $bp-small) {
                        max-width: 10.8rem;
                        max-height: 10.8rem;
                    }
                }
            }
        }
    }
}
