@use "../abstracts/variables" as *;
@use "../base/base" as *;

.benefits {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16rem 13% 5rem 13%;

    @media only screen and (max-width: $bp-small) {
        padding: 17rem 8% 5rem 8%;
    }

    &__heading {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        gap: 20rem;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5rem;
        }

        .heading {
            font-family: "Syne", sans-serif;

            @media only screen and (max-width: $bp-small) {
                font-size: 5rem;
            }
        }

        .sub-heading {
            max-width: 45rem;
            width: 100%;
            display: block;

            @media only screen and (max-width: $bp-small) {
                max-width: 100%;
                font-size: 3rem;
                line-height: 1.5;
            }
        }
    }

    &__content {
        max-width: 100%;
        width: 100%;
        padding: 7rem 0 10rem 0;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
        grid-template-rows: 1fr;
        gap: 4rem;

        @media only screen and (max-width: $bp-small) {

            grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 4rem;
            position: relative;
            background-color: #fff;
            border-radius: 1.5rem;
            border: 0.1rem solid $color-dark-100;
            grid-column: 1fr;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            padding: 3.5rem;

            .icon {
                background: $color-lavender-40;
                padding: 2rem;
                border-radius: 1.5rem;
                @media only screen and (max-width: $bp-small) {
                    padding: 4rem;
                }

                &_icon {
                    width: 100%;
                    max-width: 3.8rem;

                    @media only screen and (max-width: $bp-small) {
                        max-width: 10rem;
                    }
                }
            }

            .text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                max-width: 45ch;
                line-height: 1.6;
                gap: 1rem;

                @media only screen and (max-width: $bp-small) {
                    max-width: 100ch;
                }

                .heading {
                    font-family: "Syne", sans-serif;

                    @media only screen and (max-width: $bp-small) {
                        font-size: 4rem;
                    }
                }

                .paragraph {
                    color: $color-dark-60;
                    font-weight: 300;

                    @media only screen and (max-width: $bp-small) {
                        font-size: 3rem;
                        line-height: 1.5;
                    }
                }
            }
        }
    }
}
