@use "../abstracts/variables" as *;
@use "../base/base" as *;

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 0 13% 8rem 13%;
    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
        padding: 16rem 5% 16rem 5%;
    }

    @media only screen and (max-width: $bp-large) {
        padding: 5rem 5% 0 5%;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 0 2rem 0 2rem;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 1.5rem;
        }

        .heading {
            font-family: "Syne", sans-serif;

            @media only screen and (max-width: $bp-large) {
                font-size: 4rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 3.2rem;
            }
        }

        .paragraph {
            text-decoration: none;
            color: $color-dark-100;

            @media only screen and (max-width: $bp-large) {
                font-size: 2rem;
            }
            @media only screen and (max-width: $bp-small) {
                font-size: 1.8rem;
            }
        }
    }

    &__content {
        max-width: 100%;
        width: 100%;
        padding: 5rem 0 10rem 0;
        height: auto;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-template-rows: 1fr;
        gap: 4rem;

        &-item {
            gap: 4rem;
            position: relative;
            background-color: #fff;
            border-radius: 1.5rem;
            border: 0.2rem solid $color-lavender-20;
            grid-column: 1fr;
            width: 100%;
            height: auto;
            box-sizing: border-box;

            .content {
                display: flex;
                justify-content: space-between;
                padding: 1.5rem;

                @media only screen and (max-width: $bp-small) {
                    padding: 1.6rem;
                }

                &__text {
                    display: flex;
                    gap: 2rem;

                    .icon {
                        background-color: $color-lavender-40;
                        padding: 2rem;
                        border-radius: 1.5rem;
                        display: flex;
                        align-items: center;

                        &-icon {
                            max-width: 4rem;
                            width: 100%;
                            height: 100%;

                            @media only screen and (max-width: $bp-large) {
                                max-width: 3.7rem;
                                max-height: 3.7rem;
                            }

                            @media only screen and (max-width: $bp-small) {
                                max-width: 3rem;
                                max-height: 3rem;
                            }
                        }
                    }

                    .text-wrapper {
                        display: flex;
                        align-items: flex-start;
                        justify-content: center;
                        flex-direction: column;
                        gap: 0.2rem;

                        @media only screen and (max-width: $bp-small) {
                            gap: 0.5rem;
                        }

                        .heading {
                            font-family: "Syne", sans-serif;

                            @media only screen and (max-width: $bp-large) {
                                font-size: 2rem;
                            }

                            @media only screen and (max-width: $bp-small) {
                                font-size: 2rem;
                            }
                        }

                        .listings {
                            @media only screen and (max-width: $bp-large) {
                                font-size: 1.8rem;
                            }
                        }
                    }
                }

                &__button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    text-decoration: none;
                    font-size: 1.6rem;
                    font-weight: 400;
                    gap: 0.5rem;
                    color: $color-dark-100;
                    font-weight: 600;

                    @media only screen and (max-width: $bp-large) {
                        font-size: 2rem;
                    }
                    @media only screen and (max-width: $bp-small) {
                        font-size: 1.8rem;
                    }

                    .send {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media only screen and (max-width: $bp-large) {
                            max-width: 3rem;
                            width: 100%;
                        }

                        @media only screen and (max-width: $bp-small) {
                            max-width: 5rem;
                        }
                    }
                }
            }
        }
    }
}
