@use "../abstracts/variables" as *;

.cta {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 13% 5rem 13%;

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $color-lavender-60;
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        padding: 5rem;
        gap: 2rem;
        border: 1px solid $color-dark-100;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 10%;
            bottom: 0;
            width: 35%;

            background-image: url("../../img/pattern-white.svg");
            background-position: center right;
            background-size: contain;
            background-repeat: no-repeat;

            pointer-events: none;
            z-index: 1;
        }

        &-text {
            display: flex;
            flex-direction: column;
            max-width: 40rem;
            width: 100%;
            gap: 2rem;

            .heading {
                font-family: "Syne", sans-serif;
                color: #fff;
            }

            .paragraph {
                color: $color-dark-80;
                font-weight: 300;
            }
        }

        &-form{
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            border-radius: 1.5rem;
            max-width: 45rem;
            width: 100%;
            background-color: #fff;
            border: 1px solid $color-lavender-40;

            .input{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                font-family: "Hanken Grotesk", sans-serif;
                font-size: 1.5rem;
                font-weight: 300;
                width: 100%;
                padding-right: 2rem;

                &::placeholder{
                    color: $color-dark-20;
                }

                &:focus{
                    outline: none;
                }
            }
        }
    }
}
