@use "../abstracts/variables" as *;
@use "../base/base" as *;

.cta {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 13% 5rem 13%;

    @media only screen and (max-width: $bp-largest) {
        padding: 17rem 5% 16rem 5%;
    }

    @media only screen and (max-width: $bp-small) {
        padding: 5rem 2rem 5rem 2rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        background-color: $color-lavender-80;
        border-radius: 1.5rem;
        width: 100%;
        height: 100%;
        padding: 5rem;
        gap: 2.4rem;
        border: 1px solid $color-dark-100;
        position: relative;
        overflow: hidden;

        @media only screen and (max-width: $bp-small) {
            width: 100%;
            height: auto;
            gap: 5rem;
            padding: 2.4rem;
            padding-bottom: 20rem;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 55%;

            background-image: url("../../img/pattern-white.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;

            pointer-events: none;
            z-index: 1;

            @media only screen and (max-width: $bp-large) {
                width: 80%;
                top: 0;
                right: 0;
                bottom: -10rem;
            }
            @media only screen and (max-width: $bp-small) {
                width: 100%;
                top: 0;
                right: 0;
                bottom: -30rem;
            }
        }

        &-text {
            display: flex;
            flex-direction: column;
            max-width: 40rem;
            width: 100%;
            gap: 2rem;
            z-index: 2;

            .heading {
                font-family: "Syne", sans-serif;
                color: #fff;
                font-weight: 600;

                @media only screen and (max-width: $bp-small) {
                    font-size: 2.8rem;
                    line-height: 1;
                }
            }

            .paragraph {
                color: $color-lavender-20;
                font-weight: 300;

                @media only screen and (max-width: $bp-small) {
                    font-size: 1.8rem;
                    line-height: 1.2;
                }
            }
        }

        &-form {
            display: flex;
            justify-content: space-between;
            padding: 1.5rem;
            border-radius: 1.5rem;
            max-width: 45rem;
            width: 100%;
            background-color: #fff;
            border: 1px solid $color-lavender-40;

            z-index: 2;

            @media only screen and (max-width: $bp-small) {
                width: 100%;
                max-width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.5rem;
                background-color: transparent;
                border: none;
                padding: 0;
            }

            .input {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: transparent;
                border: none;
                font-family: "Hanken Grotesk", sans-serif;
                font-size: 1.5rem;
                font-weight: 300;
                width: 100%;
                padding-right: 2rem;

                @media only screen and (max-width: $bp-largest) {
                    font-size: 2rem;
                }

                @media only screen and (max-width: $bp-small) {
                    padding: 1.2rem 1.6rem;
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid $color-lavender-40;
                    border-radius: 1.5rem;
                    font-size: 1.6rem;
                }

                &::placeholder {
                    color: $color-dark-20;

                    @media only screen and (max-width: $bp-largest) {
                        font-size: 2rem;
                    }
                    @media only screen and (max-width: $bp-small) {
                        font-size: 1.6rem;
                    }
                }

                &:focus {
                    outline: none;
                }
            }

            .btn-cta {
                @media only screen and (max-width: $bp-largest) {
                    padding: 2rem;
                    font-size: 2rem;
                }
                @media only screen and (max-width: $bp-large) {
                    padding: 2rem 0 2rem 0;
                    font-size: 2rem;
                }
                @media only screen and (max-width: $bp-small) {
                    padding: 1.6rem 3.2rem;
                    font-size: 1.6rem;
                }
            }
        }
    }
}
