@use "../abstracts/variables" as *;

.featured {
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        padding: 17rem 13% 5rem 13%;

        .heading {
            font-family: "Syne", sans-serif;
            line-height: 1.1;
        }

        .paragraph {
            color: $color-dark-100;
            text-decoration: none;
            line-height: 1.1;
        }
    }

    &__card {
        max-width: 100%;
        width: 100%;
        padding: 0 13% 0 13%;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34.8rem, 1fr));
        grid-template-rows: 1fr 1fr;
        gap: 4rem;

        &-top,
        &-top-image,
        &-top-content {
            min-width: 0;
        }

        &-top {
            max-width: 100%;
            height: auto;
            box-sizing: border-box;
            grid-column: 1 / -1;
            background-color: #fff;
            border: 0.2rem solid $color-lavender-40;
            border-radius: 1.5rem;
            display: flex;
            position: relative;

            &-image {
                width: 80%;
                height: auto;
                box-sizing: border-box;
                position: relative;

                .picture {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 4 / 3;
                    box-sizing: border-box;
                    border-top-left-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                    position: relative;
                    display: block;
                    object-fit: cover;
                }
            }

            &-badge {
                position: absolute;
                top: 8%;
                left: -0.8rem;
                z-index: 10;
            }
            &-content {
                width: 100%;
                box-sizing: border-box;
                margin: 3.2rem 2.4rem;
                .heading {
                    display: flex;
                    justify-content: space-between;
                    justify-items: center;
                    align-items: center;

                    .price {
                        font-family: "Syne", sans-serif;
                        display: flex;
                        align-items: flex-end;
                    }

                    .agent__info {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        &-picture {
                            width: 100%;
                            box-sizing: border-box;
                            background-color: $color-lavender-60;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            width: 4rem;
                            height: 4rem;

                            .picture {
                                width: 4rem;
                                height: 4rem;
                                border-radius: 100%;
                                object-fit: cover;
                                align-items: flex-end;
                            }
                        }

                        &-text {
                            padding-right: 2rem;
                            .heading {
                                font-size: 1.6rem;
                            }
                        }
                    }
                }
                .main-text {
                    display: flex;
                    flex-direction: column;
                    
                    &__heading {
                        margin-bottom: 3rem;
                        .heading {
                            font-family: "Syne", sans-serif;
                            margin-bottom: 0.5rem;
                        }

                        .location {
                            display: flex;
                            gap: 1.5rem;
                        }
                    }
                    &__paragraph {
                        a {
                            text-decoration: none;
                            color: $color-dark-100;
                            font-weight: 700;
                        }
                    }
                }
                .features {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 4rem;
                    padding: 2rem;
                    background-color: $color-lavender-20;
                    border-radius: 1.5rem;

                    &__item {
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        &-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            .icon {
                                width: 2.8rem;
                                height: 2.8rem;
                            }
                        }

                        .amount {
                            font-size: 1.6rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        &-bottom {
            position: relative;
            background-color: #fff;
            border-radius: 1.5rem;
            border: 0.2rem solid $color-lavender-40;
            grid-column: 1fr;
            width: 100%;
            height: auto;
            box-sizing: border-box;

            &-image {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                object-fit: cover;
                overflow: hidden;

                .picture {
                    height: auto;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    box-sizing: border-box;
                    object-fit: cover;
                    display: block;
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                }
            }
            &-badge {
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                top: 40%;
                left: -0.9rem;
            }

            &-content {
                margin-top: 4rem;
                margin-left: 2rem;

                .price {
                    display: flex;
                    align-items: flex-end;
                    margin-bottom: 1rem;

                    &__heading {
                        font-family: "Syne", sans-serif;
                    }
                }

                .main-text {
                    &__heading {
                        display: flex;
                        flex-direction: column;

                        .location {
                            margin-top: 2rem;
                            &-paragraph {
                                color: $color-dark-60;
                                margin-bottom: 2rem;
                            }
                        }
                    }
                }

                .features {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 3rem;
                    border-top: 1px solid $color-dark-20;
                    margin-right: 2rem;
                    padding-bottom: 2rem;

                    &__item {
                        &-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 1.3rem;
                            gap: 0.5rem;

                            .icon {
                                width: 2.5rem;
                                height: 2.5rem;
                            }

                            .amount {
                                font-size: 1.3rem;
                                color: $color-dark-60;
                            }
                        }
                    }
                }
            }
        }
    }
}
