@use "../abstracts/variables" as *;
@use "../base/base" as *;

.featured {
    &__heading {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 17rem 13% 5rem 13%;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            padding: 17rem 8% 5rem 8%;
            gap: 1.5rem;
        }

        .heading {
            display: flex;
            font-family: "Syne", sans-serif;
            line-height: 1.1;

            @media only screen and (max-width: $bp-small) {
                font-size: 5rem;
            }
        }

        .paragraph {
            color: $color-dark-100;
            text-decoration: none;
            line-height: 1.1;

            @media only screen and (max-width: $bp-small) {
                font-size: 3rem;
            }
        }
    }

    &__card {
        max-width: 100%;
        width: 100%;
        padding: 0 13% 0 13%;
        height: 100%;
        box-sizing: border-box;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(34.8rem, 1fr));
        grid-template-rows: 1fr;
        gap: 4rem;

        @media only screen and (max-width: $bp-small) {
            padding: 0 8% 0 8%;
        }

        &-top,
        &-top-image,
        &-top-content {
            min-width: 0;
        }

        &-top {
            max-width: 100%;
            height: auto;
            box-sizing: border-box;
            grid-column: 1 / -1;
            background-color: #fff;
            border: 0.2rem solid $color-lavender-40;
            border-radius: 1.5rem;
            display: flex;
            position: relative;

            @media only screen and (max-width: $bp-medium) {
                flex-direction: column;
            }

            &-image {
                width: 80%;
                height: auto;
                box-sizing: border-box;
                position: relative;

                @media only screen and (max-width: $bp-medium) {
                    width: 100%;
                }

                .picture {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 4 / 3;
                    box-sizing: border-box;
                    border-top-left-radius: 1.5rem;
                    border-bottom-left-radius: 1.5rem;
                    position: relative;
                    display: block;
                    object-fit: cover;

                    @media only screen and (max-width: $bp-medium) {
                        border-top-left-radius: 1.5rem;
                        border-bottom-left-radius: 0;
                        border-top-right-radius: 1.5rem;
                    }
                }
            }

            &-badge {
                position: absolute;
                top: 8%;
                left: -1rem;
                z-index: 10;

                @media only screen and (max-width: $bp-largest) {
                    left: -1.1rem;
                }

                @media only screen and (max-width: $bp-large) {
                    left: -1.5rem;
                }

                .badge {
                    @media only screen and (max-width: $bp-largest) {
                        width: 15rem;
                    }
                    @media only screen and (max-width: $bp-medium) {
                        width: 20rem;
                    }
                }
            }
            &-content {
                width: 100%;
                box-sizing: border-box;
                margin: 3.2rem 2.4rem;

                @media only screen and (max-width: $bp-medium) {
                    margin: 0;
                    padding: 3rem;
                }
                .heading {
                    display: flex;
                    justify-content: space-between;
                    justify-items: center;
                    align-items: center;

                    .price {
                        font-family: "Syne", sans-serif;
                        display: flex;
                        align-items: flex-end;
                    }

                    .agent__info {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 1rem;

                        &-picture {
                            width: 100%;
                            box-sizing: border-box;
                            background-color: $color-lavender-60;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            border-radius: 100%;
                            width: 4rem;
                            height: 4rem;

                            @media only screen and (max-width: $bp-medium) {
                                width: 6rem;
                                height: 6rem;
                            }

                            .picture {
                                width: 4rem;
                                height: 4rem;
                                border-radius: 100%;
                                object-fit: cover;
                                align-items: flex-end;

                                @media only screen and (max-width: $bp-medium) {
                                    width: 6rem;
                                    height: 6rem;
                                }
                            }
                        }

                        &-text {
                            padding-right: 2rem;
                            .heading {
                                font-size: 1.6rem;

                                @media only screen and (max-width: $bp-medium) {
                                    font-size: 2rem;
                                }
                            }

                            .paragraph {
                                @media only screen and (max-width: $bp-medium) {
                                    font-size: 1.8rem;
                                }
                            }
                        }

                        &-icon {
                            .icon {
                                @media only screen and (max-width: $bp-largest) {
                                    width: 62%;
                                }
                            }
                        }
                    }
                }
                .main-text {
                    display: flex;
                    flex-direction: column;

                    &__heading {
                        margin-bottom: 3rem;
                        .heading {
                            font-family: "Syne", sans-serif;
                            margin-bottom: 0.5rem;
                        }

                        .location {
                            display: flex;
                            gap: 1.5rem;

                            &-icon {
                                @media only screen and (max-width: $bp-largest) {
                                    width: 3.5%;
                                }
                            }
                        }
                    }
                    &__paragraph {
                        a {
                            text-decoration: none;
                            color: $color-dark-100;
                            font-weight: 700;
                        }
                    }
                }
                .features {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 4rem;
                    padding: 2rem;
                    background-color: $color-lavender-20;
                    border-radius: 1.5rem;

                    &__item {
                        width: 100%;
                        height: auto;
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        @media only screen and (max-width: $bp-medium) {
                            gap: 1.5rem;
                        }

                        .heading {
                            @media only screen and (max-width: $bp-medium) {
                                font-size: 2rem;
                            }
                        }

                        &-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            gap: 1rem;

                            .icon {
                                width: 2.8rem;
                                height: 2.8rem;
                                @media only screen and (max-width: $bp-medium) {
                                    width: 4rem;
                                    height: 4rem;
                                }
                            }
                        }

                        .amount {
                            font-size: 1.6rem;
                            font-weight: 700;

                            @media only screen and (max-width: $bp-medium) {
                                font-size: 2.3rem;
                            }
                        }
                    }
                }
            }
        }

        &-bottom {
            position: relative;
            background-color: #fff;
            border-radius: 1.5rem;
            border: 0.2rem solid $color-lavender-40;
            grid-column: 1fr;
            width: 100%;
            display: flex;
            flex-direction: column;
            height: auto;
            box-sizing: border-box;

            &-image {
                width: 100%;
                height: auto;
                box-sizing: border-box;
                object-fit: cover;
                overflow: hidden;

                .picture {
                    height: auto;
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    box-sizing: border-box;
                    object-fit: cover;
                    display: block;
                    border-top-left-radius: 1.5rem;
                    border-top-right-radius: 1.5rem;
                }
            }
            &-badge {
                position: absolute;
                width: 100%;
                box-sizing: border-box;
                top: 44%;
                left: -0.8rem;

                @media only screen and (max-width: $bp-largest) {
                    top: 47%;
                    left: -0.9rem;
                }
                @media only screen and (max-width: $bp-large) {
                    top: 44%;
                    right: 3.1%;
                }
                @media only screen and (max-width: $bp-small) {
                    top: 49%;
                    right: 3.4%;
                }

                .badge {
                    @media only screen and (max-width: $bp-largest) {
                        width: 13.5rem;
                    }
                }
            }

            &-content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                height: 50%;
                padding: 2rem;

                .price {
                    display: flex;
                    align-items: flex-end;

                    &__heading {
                        font-family: "Syne", sans-serif;

                        @media only screen and (max-width: $bp-small) {
                            font-size: 5rem;
                        }
                    }
                }

                .main-text {
                    &__heading {
                        display: flex;
                        flex-direction: column;
                        gap: 1rem;

                        @media only screen and (max-width: $bp-small) {
                            gap: 2rem;
                        }

                        .heading {
                            @media only screen and (max-width: $bp-small) {
                                font-size: 3rem;
                            }
                        }

                        .location {
                            padding-bottom: 2rem;
                            &-paragraph {
                                color: $color-dark-60;

                                @media only screen and (max-width: $bp-small) {
                                    font-size: 2.5rem;
                                }
                            }
                        }
                    }
                }

                .features {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    gap: 3rem;
                    border-top: 1px solid $color-dark-20;

                    &__item {
                        &-icon {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-top: 1.3rem;
                            gap: 0.5rem;

                            .icon {
                                width: 2.5rem;
                                height: 2.5rem;
                            }

                            .amount {
                                font-size: 1.3rem;
                                color: $color-dark-60;
                            }
                        }
                    }
                }
            }
        }
    }
}
