@use "../abstracts/variables" as *;

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17rem 8% 16rem 13%;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../img/Pattern.svg);
    background-position: right center;
    background-size: 55%;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    z-index: 2;

    &-text {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;

      .heading {
        max-width: 65rem;
        font-family: "Syne", sans-serif;
        line-height: 1.2;
      }

      .sub-heading{
        max-width: 50rem;
      }

    }

    &-cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3.2rem;
      padding: 2rem;
      border-radius: 1.5rem;
      background-color: #fff;
      border: .1rem solid $color-dark-100;
      box-shadow: 0 20px 40px rgba(0, 0, 0, .08);

      .icon-wrapper {
        width: 4rem;
        height: 4rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-lavender-40;
      }

      &__location,
      &__price,
      &__property {
        display: flex;
        align-items: center;
        gap: 1rem;

        .icon {
          width: 2rem;
          display: flex;
          align-items: center;
        }
      }

      .text-cta {
        font-weight: 700;
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
  }

  &__right {
    position: relative;
    flex-basis: 40%;
    padding-left: 1rem;
    z-index: 1;

    &-ilustration-1 {
      position: absolute;
      top: -25rem;
      max-width: 48%;
      display: flex;
      flex-direction: column;
      z-index: 2;
      gap: 2.3rem;

      .house-wrapper {
        height: 25.6rem;
        border: .3rem solid $color-dark-100;
        border-radius: 4rem 4rem 3.2rem 0;
        overflow: hidden;

        .picture {
          width: 100%;
          height: 100%;
          object-fit: cover;
          inset: 20%;
        }
      }

      .caption {
        margin-top: -2.5rem;
        padding: 2rem;
        height: 10.54rem;
        background-color: $color-dark-100;
        color: #fff;
        clip-path: polygon(0 12%, 90% 11%, 100% 0, 100% 100%, 75% 100%, 48% 100%, 0 100%);
        border-radius: 0 0 4rem 4rem;
        border: .3rem solid $color-lavender-60;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;

        .text-caption {
          font-family: "Hanken Grotesk", sans-serif;
          font-size: 1.4rem;
          line-height: 1.4;
          text-align: center;
          margin: 0;
        }
      }
    }

    &-ilustration-2 {
      position: absolute;
      top: -21rem;
      right: 8%;
      width: 25.3rem;
      padding: 1.65rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .4rem;
      background-color: #fff;
      border: .3rem solid $color-dark-100;
      border-radius: 3.6rem;
      box-shadow: 0 25px 50px rgba(0, 0, 0, .12);
      z-index: 10;

      .element{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        gap: .8rem;

        &__text{
          display: flex;
          flex-direction: column;

          .heading{
            font-size: 1.65rem;
          }
        }

        &__icon{
          display: inline-flex;
          gap: .8rem;

          .icon-social{
            width: 2rem;
            height: 2rem;
          }
        }
      }

      .avatar-wrapper {
        .picture {
          width: 7.4rem;
          height: 7.4rem;
          border-radius: 1rem;
          background-color: $color-lavender-40;
          object-fit: cover;
        }
      }
    }

    &-ilustration-3 {
      position: absolute;
      top: -6rem;
      right: -1rem;
      max-width: 48%;
      height: 34rem;
      overflow: hidden;
      border-radius: 4rem;
      border: .3rem solid $color-dark-100;
      z-index: 1;

      .picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
