@use "../abstracts/variables" as *;
@use "../base/base" as *;

.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17rem 12% 16rem 12%;

  @media only screen and (max-width: $bp-largest) {
    padding: 17rem 5% 16rem 5%;
  }

  @media only screen and (max-width: $bp-large) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding: 10rem 2rem 0 2rem;
    gap: 5rem;
  }

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../../img/Pattern.svg);
    background-position: right center;
    background-size: 55%;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;

    @media only screen and (max-width: $bp-large) {
      background-size: 100%;
      background-position: center bottom;
    }
    @media only screen and (max-width: $bp-small) {
      background-size: 100%;
      background-position: center bottom;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 2;

    @media only screen and (max-width: $bp-large) {
      width: 100%;
      justify-content: center;
    }
    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      justify-content: center;
    }

    &-text {
      display: flex;
      flex-direction: column;
      gap: 4rem;

      @media only screen and (max-width: $bp-largest) {
        max-width: 50rem;
        width: 100%;
      }
      @media only screen and (max-width: $bp-large) {
        max-width: 100rem;
        width: 100%;
      }

      @media only screen and (max-width: $bp-medium) {
        width: 100%;
        justify-content: center;
      }

      .heading {
        @media only screen and (max-width: $bp-xlargest) {
          max-width: 90rem;
        }
        @media only screen and (max-width: $bp-desktop) {
          max-width: 60rem;
        }
        width: 100%;
        font-family: "Syne", sans-serif;
        line-height: 1.2;

        @media only screen and (max-width: $bp-largest) {
          font-size: 4.2rem;
          max-width: 100%;
        }
      }

      .sub-heading {
        width: 100%;
        @media only screen and (max-width: $bp-xlargest) {
          max-width: 90rem;
        }
        @media only screen and (max-width: $bp-desktop) {
          max-width: 50rem;
        }

        @media only screen and (max-width: $bp-largest) {
          max-width: 100%;
        }

        @media only screen and (max-width: $bp-medium) {
          font-size: 2.6rem;
        }

        @media only screen and (max-width: $bp-small) {
          font-size: 2rem;
        }
      }
    }

    &-cta {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3.2rem;
      padding: 1.6rem;
      border-radius: 1.5rem;
      background-color: #fff;
      border: 0.1rem solid $color-dark-100;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        width: 100%;
      }

      .icon-wrapper {
        width: 4rem;
        height: 4rem;
        border-radius: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-lavender-40;

        @media only screen and (max-width: $bp-large) {
          width: 5rem;
          height: 5rem;
        }

        @media only screen and (max-width: $bp-small) {
          width: 4rem;
          height: 4rem;
        }
      }

      &__location,
      &__price,
      &__property {
        display: flex;
        align-items: center;
        gap: 1rem;

        @media only screen and (max-width: $bp-large) {
          width: 100%;
        }

        @media only screen and (max-width: $bp-medium) {
          gap: 2rem;
        }
        .icon {
          width: 2rem;
          display: flex;
          align-items: center;

          @media only screen and (max-width: $bp-large) {
            width: 2.5rem;
            height: 2.5rem;
          }

          @media only screen and (max-width: $bp-small) {
            width: 2.5rem;
            height: 2.5rem;
          }
        }
      }

      .text-wrapper {
        .heading {
          font-size: 1.4rem;
        }
        .paragraph {
          color: $color-dark-100;
          font-size: 1.6rem;
        }
      }
      .btn-wrapper {
        @media only screen and (max-width: $bp-large) {
          display: flex;
          align-items: center;
          width: 100%;
        }

        .btn-cta {
          @media only screen and (max-width: $bp-large) {
            padding: 1.8rem 4rem 1.8rem 4rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.2rem;
          }
          @media only screen and (max-width: $bp-small) {
            padding: 1.8rem 4rem 1.8rem 4rem;
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 2.2rem;
          }
        }
      }
    }
  }

  &__right {
    @media only screen and (max-width: $bp-xlargest) {
      justify-content: center;
    }

    @media only screen and (max-width: $bp-desktop) {
      justify-content: flex-start;
    }
    position: relative;
    flex-basis: 40%;
    display: flex;
    padding-left: 1rem;
    z-index: 1;

    @media only screen and (max-width: $bp-largest) {
      flex-basis: 80%;
    }
    @media only screen and (max-width: $bp-large) {
      justify-content: center;
      margin: 0 auto;
      width: 100%;
      flex-basis: 0;
      min-height: 45rem;
    }

    &-ilustration-1 {
      @media only screen and (max-width: $bp-xlargest) {
        max-width: 20rem;
        width: 100%;
      }
      position: absolute;
      top: -25rem;
      max-width: 20rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 2.3rem;
      z-index: 2;

      @media only screen and (max-width: $bp-large) {
        top: 0;
        right: 50%;
        max-width: 20rem;
      }
      @media only screen and (max-width: $bp-medium) {
        top: 0;
        right: 50%;
        max-width: 20rem;
      }

      @media only screen and (max-width: $bp-small) {
        top: 0;
        right: 53%;
        max-width: 15rem;
        max-height: 30rem;
        width: 100%;
      }

      .house-wrapper {
        height: 25.6rem;
        border: 0.2rem solid $color-dark-100;
        border-radius: 4rem 4rem 3.2rem 0;
        overflow: hidden;

        .picture {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .caption {
        margin-top: -2.5rem;
        padding: 2rem;
        height: 10.54rem;
        background-color: $color-dark-100;
        color: #fff;
        clip-path: polygon(0 12%, 90% 11%, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 0 4rem 4rem;
        border: 0.2rem solid $color-lavender-60;
        display: flex;
        align-items: center;
        justify-content: center;

        .text-caption {
          font-family: "Hanken Grotesk", sans-serif;
          font-size: 1.4rem;
          line-height: 1.4;
          text-align: center;

          @media only screen and (max-width: $bp-small) {
            font-size: 0.912rem;
          }
        }
      }
    }

    &-ilustration-2 {
      position: absolute;
      top: -21rem;
      right: 5%;
      max-width: 27rem;
      width: 100%;
      padding: 1.65rem;
      display: flex;
      justify-content: space-between;
      gap: 0.4rem;
      background-color: #fff;
      border: 0.2rem solid $color-dark-100;
      border-radius: 3.6rem;
      box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
      z-index: 10;

      @media only screen and (max-width: $bp-large) {
        top: 3rem;
        left: 30rem;
        max-width: 27rem;
        width: 100%;
      }
      @media only screen and (max-width: $bp-medium) {
        top: 3rem;
        left: 30rem;
      }
      @media only screen and (max-width: $bp-small) {
        top: 3rem;
        left: 11rem;
        max-width: 20rem;
        max-height: 10rem;
        width: 100%;
        padding: 1.2rem;
        border-radius: 2rem;
      }

      .element {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;

        &__text .heading {
          font-size: 1.65rem;

          @media only screen and (max-width: $bp-small) {
            font-size: 1.075rem;
          }
        }

        &__text {
          .role {
            @media only screen and (max-width: $bp-small) {
              font-size: 1rem;
            }
          }
        }

        &__icon {
          display: flex;
          gap: 0.8rem;

          .icon-social {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $color-dark-80;
            border-radius: 50%;
            padding: 0.5rem;

            .icon {
              width: 1rem;
              height: 1rem;

              @media only screen and (max-width: $bp-small) {
                width: 0.5rem;
                height: 0.5rem;
              }
            }
          }
        }
      }

      .avatar-wrapper .picture {
        width: 7.4rem;
        height: 7.4rem;
        border-radius: 1rem;
        background-color: $color-lavender-40;
        object-fit: cover;

        @media only screen and (max-width: $bp-small) {
          width: 6rem;
          height: 6rem;
        }
      }
    }

    &-ilustration-3 {
      @media only screen and (max-width: $bp-xlargest) {
        max-width: 20rem;
        width: 100%;
      }

      @media only screen and (max-width: $bp-largest) {
        left: 24rem;
      }

      position: absolute;
      top: -6rem;
      right: 1rem;
      max-width: 20rem;
      width: 100%;
      height: 34rem;
      overflow: hidden;
      border-radius: 4rem;
      border: 0.2rem solid $color-dark-100;
      z-index: 1;

      @media only screen and (max-width: $bp-large) {
        max-width: 20rem;
        top: 40%;
        left: 40rem;
      }

      @media only screen and (max-width: $bp-medium) {
        max-width: 20rem;
        width: 100%;
        left: 40rem;
      }

      @media only screen and (max-width: $bp-small) {
        top: 13rem;
        left: 18rem;
        max-width: 15rem;
        max-height: 23rem;
        width: 100%;
      }

      &-ilustration-1,
      &-ilustration-3 {
        @media only screen and (max-width: $bp-medium) {
          max-width: 100%;
        }
      }

      .picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }
    }
  }
}
