@use "../abstracts/variables" as *;

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 20rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 50;
    
    background-color: $background-color;

    &__icon{
        display: flex;
        align-items: center;
        gap: .8rem;
        text-decoration: none;
        color: $color-dark-100;
        font-family: "Syne", sans-serif;

        .text{
            font-weight: 600;
            display: flex;
            flex-direction: row;
        }

    }

    &__list{
        list-style: none;
        display: flex;
        gap: 6.4rem;

        &-item{
            justify-content: center;

            a,
            a:link,
            a:visited{
                text-decoration: none;
                color: $color-dark-100;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 100%;
                transition: all .3s;

                &:hover{
                    color: $color-lavender-80;
                }

                &:active,
                &:focus{
                    color: $color-lavender-80;
                }
            }
        }
    }

}