@use "../abstracts/variables" as *;
@use "../base/base" as *;

.testimonials {
    position: relative;
    padding: 0 13% 5rem 13%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @media only screen and (max-width: $bp-small) {
        padding: 0 8% 5rem 8%;
        overflow: auto;
    }

    &__heading {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;

        .heading {
            font-size: 3.2rem;
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 4rem;
        width: 100%;

        @media only screen and (max-width: $bp-small) {
            flex-direction: column;
        }

        .swiper {
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5rem;
            background-color: #fff;
            padding: 5rem;
            @media only screen and (max-width: $bp-small) {
                width: 100%;
            }

            &-stars {
                display: flex;
                gap: 1.2rem;
                .star {
                    width: 1.7rem;
                    height: 1.7rem;

                    @media only screen and (max-width: $bp-small) {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }

            &-paragraph {
                .paragraph {
                    color: $color-dark-60;
                    width: 38rem;
                    display: block;

                    @media only screen and (max-width: $bp-small) {
                        font-size: 2rem;
                        width: 100%;
                        line-height: 3rem;
                    }
                }
            }

            &-profile {
                display: flex;
                justify-content: space-between;

                .text-wrapper {
                    @media only screen and (max-width: $bp-small) {
                        display: flex;
                        flex-direction: column;
                    }
                    .name {
                        @media only screen and (max-width: $bp-small) {
                            font-size: 2rem;
                        }
                    }

                    .position {
                        @media only screen and (max-width: $bp-small) {
                            font-size: 1.6rem;
                        }
                    }
                }
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        @media only screen and (max-width: $bp-small) {
            display: none;
        }

        &-item {
            background-color: $color-dark-100;
            padding: 1.5rem;
            border-radius: 1.5rem;
            transition: all 0.2s;

            &:hover {
                transform: scale(1.1);
                background-color: $color-dark-20;
            }
        }
    }
}