@use "../abstracts/variables" as *;

.testimonials {
    position: relative;
    padding: 0 13% 5rem 13%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 6rem;

    &__heading {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 4rem;
        width: 100%;

        .swiper {
            display: flex;
            justify-content: center;
            align-items: center;

            &-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 2rem;
            }
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 5rem;
            background-color: #fff;
            padding: 5rem;

            &-stars {
                display: flex;
                gap: 1rem;
                .star {
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }

            &-paragraph {
                .paragraph {
                    color: $color-dark-60;
                    width: 38rem;
                    display: block;
                }
            }

            &-profile {
                display: flex;
                justify-content: space-between;
            }
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;

        &-item {
            background-color: $color-dark-100;
            padding: 1.5rem;
            border-radius: 1.5rem;
            transition: all .2s;

            &:hover{
                transform: scale(1.1);
                background-color: $color-dark-20;
            }
        }
    }
}
