@use "../abstracts/variables" as *;
@use "../base/base" as *;

.btn {
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 1.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 2.8rem;
        padding: 3rem;
    }
}

.btn-primary,
.btn-primary:link,
.btn-primary:visited {
    color: $color-dark-100;
    border: 0.1rem solid $color-dark-100;
    background-color: transparent;
    font-weight: bold;
    gap: 0.8rem;
    transition: all 0.3s;
    max-width: 15rem;
    width: 100%;

    &:hover {
        background-color: $color-lavender-20;
        border: 0.1rem solid $color-lavender-100;
    }

    &:active,
    &:focus {
        background-color: $color-lavender-20;
        border: 0.1rem solid $color-lavender-100;
    }

    @media only screen and (max-width: $bp-medium) {
        max-width: 100%;
        width: 100%;
    }
}

.btn-secondary {
    text-decoration: none;
    border-radius: 1.5rem;
    padding: 1.5rem 3rem;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2rem;
    transition: all 0.3s;
    display: flex;
    justify-content: center;

    border: 0.1rem solid $color-dark-100;
    background-color: $color-dark-100;
    color: #fff;

    @media only screen and (max-width: $bp-large) {
        max-width: 100%;
        width: 100%;
        font-size: 2.8rem;
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-medium) {
        max-width: 100%;
        width: 100%;
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        max-width: 100%;
        width: 100%;
        font-size: 2rem;
    }

    &:hover {
        background-color: transparent;
        border: 0.1rem solid $color-dark-100;
        color: $color-dark-100;
    }

    &:active,
    &:focus {
        background-color: transparent;
        border: 0.1rem solid $color-dark-100;
        color: $color-dark-100;
    }
}
