@use "../abstracts/variables" as *;
// media query
$bp-largest: 75em;
$bp-large: 62.5em;
$bp-medium: 50em;
$bp-small: 37.5em;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: rgba($color-lavender-20, 0.4);

        @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    box-sizing: border-box;
}

