@use "../abstracts/variables" as *;

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    
    font-size: 62.5%;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: rgba($color-lavender-20, .4);
}

body{
    box-sizing: border-box;
}