@use "../abstracts/variables" as *;
@use "../base/base" as *;

//////////////////////////////////
/// HEADING
.heading-1 {
  font-size: 7.2rem;
  line-height: 8.8rem;
  font-weight: 600;
}
.heading-2 {
  font-size: 4.8rem;
  line-height: 5.6rem;
  font-weight: 600;
}
.heading-3 {
  font-size: 4rem;
  line-height: 4.8rem;
  font-weight: 600;
}
.heading-4 {
  font-size: 3.8rem;
  line-height: 4.6rem;
  font-weight: 600;
}
.heading-5 {
  font-size: 3.2rem;
  line-height: 4rem;
  font-weight: 600;
}
.heading-6 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
}

//////////////////////////////////
/// FONT SIZE HEADING
.font-xl {
  font-size: 2rem;
  line-height: 2.8rem;
}
.font-l {
  font-size: 1.8rem;
  line-height: 2.6rem;
}
.font-s {
  font-size: 1.6rem;
  line-height: 2.2rem;
}
.font-xs {
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.paragraph-md {
  font-size: 2rem;
  font-weight: 300;
  line-height: 3rem;
  color: $color-dark-80;

  @media only screen and (max-width: $bp-small) {
    font-size: 2.4rem;
  }
}

.paragraph-md--bold {
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  color: $color-dark-80;
}

.paragraph-small {
  font-size: 1.4rem;
  line-height: 2.4rem;
  font-weight: 300;
  color: $color-dark-80;
}

.paragraph-small--bold {
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 700;
  color: $color-dark-80;
}